<clickhouse>
    <keeper_server>
        <tcp_port>{{ clickhouse_keeper_port }}</tcp_port>
        <server_id>{{ keeper_id }}</server_id>

        <log_storage_path>{{ clickhouse_data_dir }}/keeper/log</log_storage_path>
        <snapshot_storage_path>{{ clickhouse_data_dir }}/keeper/snapshots</snapshot_storage_path>

        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>30000</session_timeout_ms>
            <raft_logs_level>warning</raft_logs_level>
        </coordination_settings>

        <raft_configuration>
{% for host in groups['clickhouse_keeper'] | sort %}
            <server>
                <id>{{ hostvars[host]['keeper_id'] }}</id>
                <hostname>{{ host }}.{{ domain }}</hostname>
                <port>{{ clickhouse_keeper_raft_port }}</port>
            </server>
{% endfor %}
        </raft_configuration>
    </keeper_server>
</clickhouse>
