#cloud-config
#
# Node Exporter Installation (NUC2-5)
#

write_files:
  - path: /etc/systemd/system/node_exporter.service
    content: |
      [Unit]
      Description=Node Exporter
      After=network.target
      
      [Service]
      Type=simple
      User=cloudadmin
      ExecStart=/usr/local/bin/node_exporter
      Restart=on-failure
      
      [Install]
      WantedBy=multi-user.target

runcmd:
  - |
    NE_VERSION="1.7.0"
    if [ ! -f /usr/local/bin/node_exporter ]; then
      cd /tmp
      wget -q "https://github.com/prometheus/node_exporter/releases/download/v${NE_VERSION}/node_exporter-${NE_VERSION}.linux-amd64.tar.gz"
      tar -xzf node_exporter-${NE_VERSION}.linux-amd64.tar.gz
      mv node_exporter-${NE_VERSION}.linux-amd64/node_exporter /usr/local/bin/
      rm -rf node_exporter-${NE_VERSION}.linux-amd64*
    fi
  
  - systemctl daemon-reload
  - systemctl enable node_exporter
