tickTime=2000
initLimit=10
syncLimit=5
dataDir={{ zk_data }}
clientPort=2181

{% for host in groups['zookeeper'] | sort %}
server.{{ hostvars[host]['zk_id'] }}={{ host }}.{{ domain }}:2888:3888
{% endfor %}

autopurge.snapRetainCount=3
autopurge.purgeInterval=24

4lw.commands.whitelist=mntr,conf,ruok,stat,srvr

# Prometheus Metrics Provider (Port 7070)
metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider
metricsProvider.httpPort=7070
