#cloud-config
#
# ZooKeeper Installation (NUC1-3)
#

write_files:
  # zoo.cfg
  - path: /opt/zookeeper/conf/zoo.cfg
    content: |
      tickTime=2000
      initLimit=10
      syncLimit=5
      dataDir=/data/zookeeper
      clientPort=2181
      
      server.1=nuc1:2888:3888
      server.2=nuc2:2888:3888
      server.3=nuc3:2888:3888
      
      autopurge.snapRetainCount=3
      autopurge.purgeInterval=24
      
      4lw.commands.whitelist=ruok,stat,mntr

  # JVM Einstellungen
  - path: /opt/zookeeper/conf/java.env
    content: |
      export JVMFLAGS="-Xms1g -Xmx1g"

  # Systemd Service
  - path: /etc/systemd/system/zookeeper.service
    content: |
      [Unit]
      Description=Apache ZooKeeper
      After=network.target
      
      [Service]
      Type=forking
      User=cloudadmin
      Environment="JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64"
      Environment="ZOO_LOG_DIR=/data/zookeeper"
      ExecStart=/opt/zookeeper/bin/zkServer.sh start
      ExecStop=/opt/zookeeper/bin/zkServer.sh stop
      Restart=on-failure
      RestartSec=10
      
      [Install]
      WantedBy=multi-user.target

runcmd:
  # ZooKeeper herunterladen und installieren
  - |
    ZK_VERSION="3.9.2"
    if [ ! -d /opt/zookeeper ]; then
      cd /tmp
      wget -q "https://downloads.apache.org/zookeeper/zookeeper-${ZK_VERSION}/apache-zookeeper-${ZK_VERSION}-bin.tar.gz"
      tar -xzf apache-zookeeper-${ZK_VERSION}-bin.tar.gz
      mv apache-zookeeper-${ZK_VERSION}-bin /opt/zookeeper
      chown -R cloudadmin:cloudadmin /opt/zookeeper
      rm apache-zookeeper-${ZK_VERSION}-bin.tar.gz
    fi
  
  # myid setzen basierend auf Hostname
  - |
    HOSTNAME=$(hostname)
    case $HOSTNAME in
      nuc1) echo "1" > /data/zookeeper/myid ;;
      nuc2) echo "2" > /data/zookeeper/myid ;;
      nuc3) echo "3" > /data/zookeeper/myid ;;
    esac
    chown cloudadmin:cloudadmin /data/zookeeper/myid
  
  # Service aktivieren
  - systemctl daemon-reload
  - systemctl enable zookeeper
