import { defineConfig } from 'vite'
import vue from '@vitejs/plugin-vue'

// Production config fuer Deployment auf node0
// Proxies werden von nginx uebernommen
export default defineConfig({
  plugins: [vue()],
  build: {
    outDir: 'dist',
    sourcemap: false
  },
  // Base URL fuer Production
  base: '/'
})
