#cloud-config
#
# Basis-Konfiguration für alle Nodes
#

# Pakete installieren
packages:
  - openjdk-17-jdk
  - curl
  - wget
  - netcat-openbsd
  - htop
  - vim
  - tmux

# Swap deaktivieren
swap:
  filename: /swapfile
  size: 0

# Firewall deaktivieren
runcmd:
  - ufw disable || true
  - swapoff -a
  - sed -i '/swap/d' /etc/fstab

# Kernel-Parameter für Big Data
write_files:
  - path: /etc/sysctl.d/99-cloudkoffer.conf
    content: |
      # Netzwerk
      net.core.somaxconn = 65535
      net.ipv4.tcp_max_syn_backlog = 65535
      
      # Speicher
      vm.swappiness = 1
      vm.max_map_count = 262144
      
      # Datei-Deskriptoren
      fs.file-max = 2097152
    
  - path: /etc/security/limits.d/99-cloudkoffer.conf
    content: |
      cloudadmin soft nofile 65535
      cloudadmin hard nofile 65535
      cloudadmin soft nproc 65535
      cloudadmin hard nproc 65535
